.Articles__List {
  margin: 0;
  padding: 20px 0px;

  width: 60vw;

  transition: 1s;
}

.Articles__List__Selected {
  margin-bottom: 20px;
  font-weight: bold;
}

.Articles__List__Article {
  display: flex;
  justify-content: space-between;

  margin: 0px -20px 0px -20px;

  background: white;
  /* box-shadow: 2px 2px 4px 2px var(--grey); */
  /* border-radius: 5px; */
  border-bottom: 2px solid var(--main-color);
  padding: 20px;
}

.Articles__List__Article:hover {
  cursor: pointer;
  background: rgb(250, 250, 250);
  transition: 0.3s;
}

.Article__Title > h1 {
  margin-top: 0px;
}

.Article__Category_Date {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 20%;
  text-align: right;
}

.Article__Date {
  margin-bottom: -10px;

  font-size: small;
}


/* 반응형 웹 디자인 */
@media (max-width: 960px) {
  .Articles__List {
    padding: 20px 0px;
    width: 80vw;
  }
}