.Article__Recommendation {
  margin: 30px auto;
  padding: 10px;
  width: 90%;

  background-color: var(--sub-color-opacity);
  box-shadow: 0px 0.1px 5px 0.1px var(--grey);
  border-radius: 10px;
}

.Article__Recommendation_ArticleBox {
  margin: 5px 0px;

  background-color: white;
  border-top: 1px solid var(--sub-color-dark);
  border-left: 1px solid var(--sub-color-dark);
  border-right: 1px solid var(--sub-color-dark);

  font-size: var(--main-font-size);
}

.Article__Recommendation_ArticleBox > div {
  padding: 5px;

  border-bottom: 1px solid var(--sub-color-dark);

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  cursor: pointer;
}

.Article__Recommendation_title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap:break-word;
}

.Article__Recommendation_info {
  display: flex;
  flex-direction: row;
  text-align: end;
}

.Article__Recommendation_info > div {
  width: 110px;
}

.Article__Recommendation_info_category {
  color: var(--main-color-dark);
}

.Article__Recommendation_info_date {
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 960px) {
  .Article__Recommendation_info_category {
    display: none;
  }  
}