.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  position: fixed;
  top: 0;
  z-index: 2;

  height: 70px;
  width: 100%;
  
  background-color: var(--main-color);
  box-shadow: 0px 0.1px 5px 1px var(--grey);
}

.Header__styling {
  display: flex;
  align-items: center;

  height: 100%;
  width: 10%;

  background: linear-gradient(-45deg, var(--main-color) 50%, var(--sub-color) 50%);
}

.Header__styling > img {
  margin-left: 2vw; 
  width: 4vw;
}

.Header__styling_Reverse {
  height: 100%;
  width: 10%;

  background: linear-gradient(-45deg, var(--sub-color) 50%, var(--main-color) 50%);
}

.Header__word {
  font-size: var(--xlarge-font-size);
  font-weight: bold;
  color: black;
}


/* 애니메이션 */
@keyframes bounce {
  0%, 100%, 20%, 53%, 80% {
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
    transform: translate3d(0, 0, 0)
  }
  40%,
  43% {
    transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
    transform: translate3d(0, -30px, 0)
  }
  70% {
    transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
    transform: translate3d(0, -15px, 0)
  }
  90% {
    transform: translate3d(0, -4px, 0)
  }
}

.bounce {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: bounce;
  transform-origin: center bottom
}

@keyframes slideOutLeft {
  0% {
    transform: translate3d(0, 0, 0)
  }
  100% {
    visibility: hidden;
    transform: translate3d(-150%, 0, 0)
  }
}

@keyframes hinge {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out
  }
  20%,
  60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out
  }
  40%,
  80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1
  }
  100% {
    transform: translate3d(0, 150vh, 0);
    opacity: 0
  }
}

.hinge {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: hinge
}

@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0)
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0)
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0)
  }
}

.slideOutLeft {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: slideOutLeft
}

@keyframes zoomInDown {
  0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, .055, .675, .19)
  }
  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
  }
}

.zoomInDown {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: zoomInDown
}


/* 반응형 웹 디자인 */
@media (max-width: 960px) {
  .Header__styling > img {
    opacity: 0;
  }
  .Header__styling > img:hover {
    opacity: 1;
    transition: 1s;
  }
}