.MarkdownRenderer {
  margin-top: 30px;
  padding: 0px 50px 20px 0px;
  width: 60vw;

  border-radius: 10px;

  transition: 1s;
}

.MarkdownRenderer h1 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--main-color);
}

.MarkdownRenderer h2 {
  margin-top: 50px;
}

.MarkdownRenderer h3 {
  margin-top: 25px;
}

.MarkdownRenderer h4 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.MarkdownRenderer li {
  margin-bottom: 10px;
}

.MarkdownRenderer a {
  overflow: hidden;
  word-break: break-all;
}

.MarkdownRenderer em {
  font-style: normal;
  text-decoration: underline;
}


/* 반응형 웹 디자인 */
@media (max-width: 960px) {
  .MarkdownRenderer {
    margin-top: 0px;
    padding: 10px 10px;
    width: 80vw;
  }

  .MarkdownRenderer__Title {
    font-size: var(--large-font-size);
    background: none;
  }

  .MarkdownRenderer h1 {
    font-size: var(--large-font-size);
  }
}