.MarkdownIndex {
  position: fixed;
  top: 110px;
  right: 4%;
  z-index: 1;
}

.MarkdownIndex_Button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--main-color-dark);

  font-size: var(--mid-font-size);
  color: aliceblue;
  text-align: center;
  line-height: 50px;

  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.MarkdownIndex_Box {
  position: absolute;
  z-index: -1;
  top: -10px;
  right: -50px;
  padding: 80px 15% 5% 15%;
  display: none;

  width: 280%;
  border-radius: 5px;
  background-color: var(--sub-color-opacity);

  user-select: none;
  transition: 0.7s;
}

.MarkdownIndex_ContentBox {
  position: absolute;
  top: 75px;
  left: 0;
  max-height: 70vh;
  width: 100%;
  border-radius: 5px;
  background-color: var(--sub-color-opacity);

  transition: 0.7s;
  overflow-y:auto
}

.MarkdownIndex_type1 {
  border-radius: 5px;
  font-size: var(--mid-font-size);
  font-weight: bold;
  cursor: pointer;
}
.MarkdownIndex_type2 {
  padding-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.offset_type2 {
  height: 5px;
}
.MarkdownIndex_type3 {
  padding-left: 10px;
  border-radius: 5px;
  font-size: var(--main-font-size);
  cursor: pointer;
}
.offset_type3 {
  height: 3px;
}
.MarkdownIndex_type4 {
  padding-left: 20px;
  border-radius: 5px;
  font-size: var(--main-font-size);
  cursor: pointer;
}
.offset_type4 {
  height: 2px;
}
.MarkdownIndex_type5 {
  padding-left: 30px;
  border-radius: 5px;
  font-size: var(--small-font-size);
  cursor: pointer;
}

@media (min-width: 960px) {
  .MarkdownIndex_hover:hover {
    background: var(--sub-color-dark-opacity);
    transition: 0.2s;
  }
}

.MarkdownIndex_selected {
  background-color: var(--main-color-dark);
}


/* 반응형 웹 디자인 */
@media (max-width: 960px) {
  .MarkdownIndex {
    top: auto;
    bottom: 25px;
    right: 8%;
    z-index: 1;
  }

  .MarkdownIndex_Box {
    background-color: rgba(0, 0, 0, 0);
    top: -20px;
    right: 0;
    padding: 5% 15% 70px 15%;
  }

  .MarkdownIndex_ContentBox {
    top: auto;
    bottom: 60px;
  }
}