.link_tag {
  color: var(--link-color);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 20vw;
}

.link_tag:hover {
  color: var(--blue);

  transition: 5s;
}

.content_origin {
  position: absolute;
  font-size: var(--mid-font-size);
  color: var(--main-color-deep-dark);
}