body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Gowun Batang', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

:root {
  /* 색상 정보 */
  --main-color: #e7f0f3;
  --main-color-dark: #a0c4cf;
  --sub-color: #f9faf8fd;
  --orange: #FF7A00;
  --red: #FF4842;
  --yellow: #FFC107;
  --blue: #1890FF;
  --grey: #CACACA;
  --bright-grey: #F2F2F2;
  --link-color: #00AB55;
  --highlight-color: #4cee9d;
  

  /* 폰트 사이트 */
  --small-font-size: 12px;
  --main-font-size: 14px;
  --mid-font-size: 16px;
  --large-font-size: 18px;
  --xlarge-font-size: 21px;
  --xxlarge-font-size: 24px;
  --huge-font-size: 28px;

  /* margin, padding */
  --small-margin-size: 12px;
  --main-margin-size: 16px;
  --mid-margin-size: 21px;
  --large-margin-size: 36px;
  --xlarge-margin-size: 48px;

  /* 버튼 크기 */
  --btn-height: 30px;

  /* 사진 크기 */
  --small-picture: 20px;
  --logo-width: 300px;
}

.App {
  min-height: 100vh;
}

.App__Content {
  padding-top: 70px;
  padding-bottom: 80px;
  min-height: 100vh;
  box-sizing: border-box
}